*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#section{
  background-color: rgb(40, 3, 66);
  width: 100%;
  height: auto;
}

.na {
  margin-left: 30%;
  justify-content: space-between;
}

.nb h4 {
  color: white !important;
  font-weight: 700;
}

.nb span {
  color: purple;
}

.btn1 {
  border: 0;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #fe34dc, #903aff);
}

h4{
  color: #d434fe;
}

form {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

form h5{
  color: #d434fe;
}

.touch-div{
  justify-content: space-between;
}

.touch h6{
  color: #d434fe;
}

.icon{
  gap: 15px;
}

form p{
  margin-bottom: 0;
}

.first {
  border: 1px white solid;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.mail {
  border: 1px white solid;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.message {
  border: 1px white solid;
  padding: 5px;
  padding-bottom: 50px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.sub{
  justify-content: center;
}

@media(max-width:768px){

  .na{
    margin-left: 0;
  }
}

@media(max-width:500px){

  .nav{
    display: none!important;
  }

  .touch-div{
    flex-direction: column;
  }
}