* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#section {
  background-color: rgb(40, 3, 66);
  height: 1000vh;
  overflow: hidden;
}

.mobile2{
  display: none;
}

.na{
  margin-left: 30%;
  justify-content: space-between;
}

.nb p {
  color: white !important;
}

.nb span {
  color: purple;
}

.btn1 {
  border: 0;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #fe34dc, #903aff);
}

hr {
  background-color: white !important;
}

.pur {
  justify-content: space-between;
}

.pur-mobile {
  display: none;
}

.text h5 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.bo img {
  position: absolute;
  width: 38%;
  left: 63%;
  top: -5px;
}

.get {
  margin-top: 70px;
}

.get h1 {
  font-size: 60px;
  width: 90%;
  line-height: 75px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-weight: 700;
}

.get span {
  color: #d434fe;
}

.bulb-div {
  left: 150px;
}

.participate {
  width: 93%;
}

.bulb {
  top: -34px;
  left: 220px;
}

.chain-fire-div {
  left: 250px;
  top: -50px;
}

.chain-fire {
  top: -50px;
  left: 205px;
  margin-left: 20px;
}

.mobile{
  display: none;
}

.blue-div {
  top: -355px;
  left: -15px;
}

.blue {
  top: -292px;
  left: -40px;
}

.span {
  width: 50%;
  font-size: 45px;
  font-weight: 500;
  margin-top: 10%;
}

.span span {
  font-size: 15px;
  color: white;
}

.big-star{
  justify-content: space-between;
}
.big{
  width: 40%;
}

.gra-div{
  top: 80px;
  left: -10px;
}

.gra{
  top: 100px;
  left: -20px;
}

.idea-div{
  top: -80px;
  left: 50px;
}

.idea{
  top: -180px;
  width: 20%;
  left: 145px;
}

.idea p{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.idea-div-mobile {
  display: none;
}

.idea-mobile {
  display: none;
}

.arrow-div{
  left: 100px;
  top: -30px;
}

.arrow{
  left: 380px;
  top: -30px;
}

.star{
  width: 40%;
  color: white;
  margin-top: 10%;
}


.intro h4{
  width: 70%;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 6%;
}

.intro span{
  color: #d434fe;
}

.intro p {
  font-size: 14px;
}

.pu-div{
  left: 100px;
  top: 10px;
}

.pu{
  left: 290px;
  top: 15px;
}

.rules{
  margin-top: 17%;
}

.rules span {
  color: #d434fe;
}

.rules h4 {
  width: 30%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
}

.rules p{
  font-size: 14px;
  width: 80%;   
}

.man-woman{
  margin: 10% 0;
  justify-content: space-between;
  padding-left: 5%;
  margin-right: 8%;
}

.manwo{
  width: 40%;
}

.manwo img{
  margin-top: 7%;
  width: 93%;
}

.judging{
  width: 41%;
}

.ellipse-div{
  top: 3px;
  left: 45px;
}

.ellipse{
  top: 5px;
  left: 50px;
  z-index: 1;
}

.man-woman-img{
  position: absolute;
  z-index: 2;
}

.judging h4{
  width: 50%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;    
}

.judging h4 span{
  color: #d434fe;  
}

.judging p{
  width: 100%;
  font-size: 14px;
}

.judging p span{
  font-weight: 600;
  font-size: 16px;
  color: #FF26B9;
}

.faq-think{
  margin-top: 10%;
  margin-bottom: 6%;
}

.faq{
  width: 40%;
}

.faq h4{
  width: 50%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
    
}

.faq h4 span {
  color:#d434fe;
}

.we p{
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  line-height: 30px;
}

.plus-div{
  border-bottom: 2px #d434fe solid;
  margin-top: 5%;
  justify-content: space-between;
  width: 95%!important;
}

.think{
  width: 40%;
}

.question1{
  color: #D434FE;
  font-size: 128px;
  font-style: normal;
  font-weight: 500; 
  line-height: 27.5px;
  left: 50%;
  top: -25px;
}

.question2{
  color: #A866FD;
  font-size: 85px;
  left: 95%;
  top: -50px;
}

.question3 {
  color: #A866FD;
  font-size: 70px;
  left: 25%;
  top: -15px;
}

.time-div{
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.time h4{
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
  font-family: Arial;
}

.time p {
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
}

.announce-div{
  gap: 80px;
}

.announce-div-mobile{
  display: none;
}

.announce-div h5{
  color: #d434fe;
}

.announce-div p{
  color: white;
}

.announced{
  text-align: right;
  margin-top: 10%;
  margin-left: -5%;
}

.nov {
  margin-top: 20%;
}

.team{
  margin-top: 17%;
}

.nov2{
  margin-top: 23%;
}

.offically{
  margin-top: 19%;
}

.nov4{
  margin-top: 17%;
}

.date{
  text-align: left;
  margin-top: 13.5%;
}

.nov3{
  margin-top: 17%;
}

.accepted{
  margin-top: 18%;
}

.nov5{
  margin-top: 16%;
}

.demo{
  margin-top: 16%;
}

.one{
  background: url('../images/Rectangle 7.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 895%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 800px; 
  margin-left: -16px;
}

.one p{
  margin-top: 15px;
  font-weight: 700;
  font-style: bold;
}

.announce-div-mobile{
  display: none!important;
}

.position{
  gap: 30px;
  margin-top: 5%;
}

.prize-div{
  justify-content: space-between;
  margin-top: 10%;
}

.cup-div{
  gap: 30px;
}

.prize{
  width: 40%;
}
.prize h4{
  color: white;
  width: 30%;
}

.prize h4 span{
  color: #d434fe;
}

.prize p{
  color: white;
  width: 80%;
}

.first{
  background: url('../images/Rectangle 20.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.second{
  background: url('../images/Rectangle 19.png');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.third {
  background: url('../images/Rectangle 19.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  text-align: center;
  color: white;
}


@media (max-width: 768px) {

  #section{
    height: 1500%;
  }

  .get-div {
    flex-direction: column;
  }

  .na {
    margin-left: 0;
  }

  .pur-mobile {
    display: none;
  }

  .get {
    text-align: center;
    width: 100% !important;
  }

  .mobile{
    display: none;
  }
  .participate {
    width: 100% !important;
  }

  .span {
    margin-top: 0;
    margin-left: 25%;
  }

  .bulb-div {
    left: 190px;
  }

  .bulb {
    top: -34px;
    left: 270px;
  }

  .man {
    width: 100%;
  }

  .man img {
    width: 100% !important;
  }

  .blue-div {
    top: -355px;
    left: -10px;
  }

  .blue {
    top: -300px;
    left: -5px;
  }

  .blue img {
    width: 50% !important;
  }

  .chain-fire{
    left: 265px;
  }

  .big-star{
    flex-direction: column;
  }

  .big{
    width: 100%;
    margin-left: 15%;  
  }

  .star{
    width: 100%;
  }

  .intro{
    text-align: center;
  }

  .intro h4{
    width: 100%;
    margin-bottom: 0;
  }

  .pu-div{
    left: 280px;
  }

  .pu{
    left: 350px;
    top: -10px;
  }

  .idea{
    left: 120px;
  }

  .idea-mobile{
    display: none;
  }

  .rules-div{
    flex-direction: column-reverse;
  }

  .woman{
    width: 100%!important;
  }

  .rules{
    width: 100%!important;
    text-align: center;
    margin-top: 0;
  }

  .rules h4{
    width: 100%;
  }

  .rules p{
    width: 100%;
  }

  .man-woman{
    width: 100%!important;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    margin-right: 0;
  }

  .manwo, .man-woman-img img{
    width: 100%;
  }

  .judging{
    margin-top: 80%;
    width: 100%;
    text-align: start;
    padding: 0 80px;
  }

  .judging h4{
    width: 100%;
  }

  .in-div{
    width: 100%;
  }

  .faq-think {
    flex-direction: column;
  }

  .faq {
    width: 100%;
  }

  .we {
    width: 100%;
  }

  .mobile2 {
    display: none!important;
  }

  .we p {
    width: 100%;
  }

  .think {
    margin-top: 25%;
  }

  .think,
  .img img {
    width: 100%;
  }

  .question1 {
    left: 30%;
    top: -30px;
  }

  .question2 {
    left: 57%;
    top: -47px;
  }

  .question3 {
    left: 70px;
    top: -33px;
  }

  .time h4{
    margin-bottom: 0;
  }
  .announce-div{
    display: none!important;
  }
  
  .announce-div-mobile{
    gap: 30px;
  }

  .date{
    margin-top: -4px;
  }

  .date h5{
    color: #d434fe;
  }

  .date p{
    color: white;
  }

  .novm{
    margin-left: 5px;
  }

  .longer{
    margin-bottom: 5%;
  }

  .whom{
    width: 80%;
    margin-bottom: 10px;
  }

  .one p{
    color: white;
    font-weight: 700;
    font-style: bold;
  }




}

@media (max-width: 500px) {

  .na {
    margin-left: 0;
  }

  .pur {
    display: none !important;
  }

  .pur-mobile {
    display: flex !important;
    justify-content: center;
  }

  .text h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    width: 100% !important;
  }

  .bo {
    width: 50%;
    left: 30%;
    top: -2px;
  }

  .bo img {
    width: 80%;
  }

  .get {
    margin-top: 0 !important;
  }

  .get h1 {
    display: none;
  }

  .mobile{
    display: block!important;
    font-size: 35px!important;
    width: 100%!important;
    line-height: 40px!important;
    margin-bottom: 30px!important;
    font-weight: 700!important;
    letter-spacing: 0!important;
  }

  .span2{
    margin-left: -20%;
    color: white;
  }

  .bulb-div{
    left: 15%;
  }

  .bulb{
    left: 56%;
    width: 45px;
  }

  .chain-fire-div{
    left: 60px;
    top: -19px;
  }

  .chain-fire{
    margin-left: 0;
    left: 218px;
    width: 25%;
  }

  .span{
    width: 100%;
    margin-left: 0;
  }

  .blue-div {
    top: -200px;
    left: -10px;
  }

  .blue {
    top: -165px;
    left: -5px;
  }

  .blue img {
    width: 45%!important;
  }

  hr{
    margin-top: 0;
  }

  .big-idea img{
    width: 100%;
    margin-left: -15%;
  }

  .gra-div{
    top: 12px;
    left: -15px;
  }

  .idea{
    display: none;
  }

  .arrow-div{
    left: 40px;
  }

  .arrow{
    left: 35px;
    top: 30px;
  }

  .star{
    margin-top: 30%;
  }

  .pu-div{
    left: 80px;
  }

  .pu{
    left: 250px;
    width: 30%;
  }

  .pu img{
    width: 30%;
  }

  .intro h4{
    font-size: 24px;
    display: none;
  }

  .rules h4{
    display: none;
  }

  .wo, .wo img{
    width: 100%!important;
  }

  .man-woman{
    width: 80%;
  }

  .judging {
    width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-top: 90%;
  }

  .judging h4{
    display: none;
  }

  .judging span{
    width: 5%!important;
  }

  .ellipse-div{
    display: none;
  }

  .ellipse{
    display: none;
  }

  .faq-think{
    flex-direction: column;
  }

  .faq{
    width: 100%;
  }

  .we{
    text-align: center;
    width: 100%;
  }

  .faq h4{
    display: none;
  }

  .mobile2{
    display: block!important;
    width: 100%!important;
  }

  .we p{
    width: 100%;
  }

  .think{
    margin-top: 35%;
  }

  .think, .img img{
    width: 100%;
  }

  .question1 {
    font-size: 75px;
    left: 26%;
    top: -30px;
  }

  .question2 {
    font-size: 50px;
    left: 57%;
    top: -47px;
  }

  .question3 {
    font-size: 50px;
    left: 20px;
    top: -35px;
  }

  .announce-div-mobile{
    padding: 0 20px;
  }

  .date p{
    width: 100%!important;
    line-height: 20px;
    margin-bottom: 0;
    font-size: 13.5px;
  }

  .date h5{
    font-size: 20px;
    margin-bottom: 0;
  }

  .time{
    padding: 0 15px;
  }

  .begins{
    margin-top: 30px!important;
  }

  .end{
    margin-top: 30px!important;
  }
/* 
  .end :nth-child(2){
    margin-top: 10px;
  }*/

  .end :nth-child(3){
    margin-top: 21px;
  } 

  .ann{
    margin-top: 20px!important;
  }
}
