* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#section {
  background-color: rgb(40, 3, 66);
  height: auto;
  overflow: hidden;
}

.mobile2{
  display: none;
}

.na{
  margin-left: 30%;
  justify-content: space-between;
}

.nb h4{
  color: white !important;
  font-weight: 700;
}

.nb span {
  color: purple;
}

.btn1 {
  border: 0;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(to right, #fe34dc, #903aff);
}

hr {
  background-color: white !important;
}

.pur {
  justify-content: space-between;
}

.pur-mobile {
  display: none;
}

.text h5 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.bo img {
  position: absolute;
  width: 38%;
  left: 63%;
  top: -5px;
}

.get {
  margin-top: 70px;
}

.get h1 {
  font-size: 60px;
  width: 90%;
  line-height: 75px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-weight: 700;
}

.get span {
  color: #d434fe;
}

.bulb-div {
  left: 150px;
}

.participate {
  width: 93%;
}

.bulb {
  top: -34px;
  left: 220px;
}

.chain-fire-div {
  left: 250px;
  top: -50px;
}

.chain-fire {
  top: -50px;
  left: 205px;
  margin-left: 20px;
}

.mobile{
  display: none;
}

.blue-div {
  top: -355px;
  left: -15px;
}

.blue {
  top: -292px;
  left: -40px;
}

.span {
  width: 50%;
  font-size: 45px;
  font-weight: 500;
  margin-top: 10%;
}

.span span {
  font-size: 15px;
  color: white;
}

.big-star{
  justify-content: space-between;
}
.big{
  width: 40%;
}

.gra-div{
  top: 80px;
  left: -10px;
}

.gra{
  top: 100px;
  left: -20px;
}

.idea-div{
  top: -80px;
  left: 50px;
}

.idea{
  top: -180px;
  width: 20%;
  left: 145px;
}

.idea p{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.idea-div-mobile {
  display: none;
}

.idea-mobile {
  display: none;
}

.arrow-div{
  left: 100px;
  top: -30px;
}

.arrow{
  left: 380px;
  top: -30px;
}

.star{
  width: 40%;
  color: white;
  margin-top: 10%;
}


.intro h4{
  width: 70%;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 6%;
}

.intro span{
  color: #d434fe;
}

.intro p {
  font-size: 14px;
}

.pu-div{
  left: 100px;
  top: 10px;
}

.pu{
  left: 290px;
  top: 15px;
}

.rules{
  margin-top: 17%;
}

.rules span {
  color: #d434fe;
}

.rules h4 {
  width: 30%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
}

.rules p{
  font-size: 14px;
  width: 80%;   
}

.man-woman{
  margin: 10% 0;
  justify-content: space-between;
  padding-left: 5%;
  margin-right: 8%;
}

.manwo{
  width: 40%;
}

.manwo img{
  margin-top: 7%;
  width: 93%;
}

.judging{
  width: 41%;
}

.ellipse-div{
  top: 3px;
  left: 45px;
}

.ellipse{
  top: 5px;
  left: 50px;
  z-index: 1;
}

.man-woman-img{
  position: absolute;
  z-index: 2;
}

.judging h4{
  width: 50%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;    
}

.judging h4 span{
  color: #d434fe;  
}

.judging p{
  width: 100%;
  font-size: 14px;
}

.judging p span{
  font-weight: 600;
  font-size: 16px;
  color: #FF26B9;
}

.faq-think{
  margin-top: 10%;
  margin-bottom: 6%;
}

.faq{
  width: 40%;
}

.faq h4{
  width: 50%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
    
}

.faq h4 span {
  color:#d434fe;
}

.we p{
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  line-height: 30px;
}

.plus-div{
  border-bottom: 2px #d434fe solid;
  margin-top: 5%;
  justify-content: space-between;
  width: 95%!important;
}

.think{
  width: 40%;
}

.question1{
  color: #D434FE;
  font-size: 128px;
  font-style: normal;
  font-weight: 500; 
  line-height: 27.5px;
  left: 50%;
  top: -25px;
}

.question2{
  color: #A866FD;
  font-size: 85px;
  left: 95%;
  top: -50px;
}

.question3 {
  color: #A866FD;
  font-size: 70px;
  left: 25%;
  top: -15px;
}

.time-div{
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.time h4{
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
  font-family: Arial;
}

.time p {
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
}

.announce-div{
  gap: 80px;
}

.announce-div-mobile{
  display: none!important;
}

.announce-div h5{
  color: #d434fe;
}

.announce-div p{
  color: white;
}

.announced{
  text-align: right;
  margin-top: 10%;
  margin-left: -5%;
}

.nov {
  margin-top: 20%;
}

.team{
  margin-top: 17%;
}

.nov2{
  margin-top: 23%;
}

.offically{
  margin-top: 19%;
}

.nov4{
  margin-top: 17%;
}

.date{
  text-align: left;
  margin-top: 13.5%;
}

.nov3{
  margin-top: 17%;
}

.accepted{
  margin-top: 18%;
}

.nov5{
  margin-top: 16%;
}

.demo{
  margin-top: 16%;
}

.one{
  background: url('../images/Rectangle 7.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 895%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 800px; 
  margin-left: -16px;
}

.one p{
  margin-top: 15px;
  font-weight: 700;
  font-style: bold;
}

.position{
  gap: 30px;
  margin-top: 5%;
}

.prize-div{
  justify-content: space-between;
  margin-top: 10%;
}

.prize-div-mobile{
  display: none!important;
}

.cup-div{
  gap: 30px;
  margin-top: 10%;
}

.cup{
  margin-left: -95px;
}

.prize{
  width: 40%;
}

.prize h4{
  color: white;
  width: 30%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
  font-family: Arial;
}

.prize h4 span{
  color: #d434fe;
}

.prize p{
  color: white;
  width: 80%;
}

.back2{
  z-index: 0;
  left: 200px;
}

.gold{
  z-index: 2;
  color: white;
  text-align: center;
  left: 160px;
}

.gold img{
  margin-top: -132px;
}

.gold h3{
  margin-bottom: 0;
  font-style: bold;
  font-weight: 700;
}

.gold p {
  font-size: 20px;
  font-weight: 600;
}

.gold h4 {
  color: #903AFF;
}

.second{
  margin-top: 0;
}

.back{
  z-index: 0;
  top: 35px;
  left: -12px;
}

.silver{
  z-index: 2;
  text-align: center;
  color: white;
}

.silver img{
  margin-top: -20px;
}

.silver h3{
  margin-bottom: 0;
  font-style: bold;
  font-weight: 700;
}

.silver p{
  font-size: 20px;
  font-weight: 600;
}

.silver h4{
  color: #D434FE;
}

.back3 {
  z-index: 0;
  top: 35px;
  left: 420px;
}

.bronze{
  z-index: 2;
  text-align: center;
  color: white;
  left: 435px;
}

.bronze img{
  margin-top: -20px;
}

.bronze h3{
  margin-bottom: 0;
  font-style: bold;
  font-weight: 700;
}

.bronze p {
  font-size: 20px;
  font-weight: 600;
}

.bronze h4 {
  color: #D434FE;
}

.partners{
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.partners h4{
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  font-family: Arial;
}

.partners p{  
  width: 65%;
  margin-left: 17%;
}

.bor-div{
  padding: 0 90px;
}

.bor-div-mobile{
  display: none;
}

.bor{
  border: 1px #D434FE solid;
  padding: 80px;
  border-radius: 5px;
}

.logos1{
  gap: 40px;
}

.logos1 :nth-child(1) {
  margin-left: 6%;
  margin-bottom: 7px;
}

.logos1 :nth-child(2) {
  margin-left: 10%;
}

.logos1 :nth-child(3) {
  margin-left: 0;
  margin-top: 27px;
}

.logos1 :nth-child(4) {
  margin-left: 4%;
}

.logos1 :nth-child(5){
  margin-left: 7%;
}

.line2{
  gap: 40px;
  margin-top: 10px;
}

.logos2{
  gap: 40px;
}

.logos2 :nth-child(1){
  margin-top: 10px;
  margin-left: 30px;
}

.logos2 :nth-child(2){
  margin-left: 40px;
}

.logos2 :nth-child(3){
  font-size: 50px;
  font-weight: 400;
  font-family: "Typo Hoop Demo";
  margin-top: 30px;
}

.logos2 :nth-child(3) span{
  color: #00A3FF;
  margin-left: 0;
}

.logos2 :nth-child(4){
  margin-left: 5%;
}

.plus2 :nth-child(1){
  font-size: 40px;
  font-weight: 400;
  margin-top: 30px;
}

.plus2 :nth-child(1) span{
  color: #F00;
  margin-left: 0;
}

.plu{
  top: -88px;
  left: 50px;
  width: 100%;
}

.plus2 :nth-child(2) p{
  font-size: 10px;
  width: 100%;
}

.terms-div{
  justify-content: space-between;
  margin-top: 10%;
  gap: 40px;
}

.terms h4{
  color: white;
  width: 50%;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 3%;
  font-family: Arial;
}

.terms h4 span{
  color: #D434FE;
}

.last p{
  color:rgba(255, 255, 255, 0.75);
}

.bor2{
  border: 1px #D434FE solid;
  padding: 50px;
  border-radius: 5px;
  margin-top: 50px;
}

.bor2 h5{
  color: #D434FE;
  font-weight: 700;
  line-height: 35px;
  font-family: Arial;
  font-size: 20px;
}

.here{
  color: white!important;
}

.bor2 p{
  line-height: 25px;
}

.check{
  gap: 15px;
}

.check img{
  width: 20%;
  margin-top: -14px;
}

.read{
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.padlock{
  background-image: url('../images/Vector.png');
  background-repeat: no-repeat;
}

.padlock img{
  margin-top: 38%;
}

footer{
  margin-top: 5%;
  background: #100B20;
  padding-top: 5%;
  padding-bottom: 3%;
}

footer h6{
  color: #D434FE;
  font-size: 20px;
}

.foot{
  justify-content: space-between;
}

.nb-div2{
  width: 45%;
}

.group{
  gap: 10px;
}

.group img{
  margin-top: -5%;
}

.location{
  width: 50%;
  gap: 20px;
}

.location img{
  margin-top: -40%;
}

.use-div{
  gap: 10px;
}

.follow-use{
  width: 68%;
  justify-content: space-between;
  margin-bottom: 5%;
}

.follow{
  gap: 20px;
}

.follow img{
  margin-top: -12px;
}

.follow p{
  color: #d434fe;
  font-size: 18px;
}

.copy{
  justify-content: center;
}

.foot-mobile{
  display: none;
}

@media (max-width: 768px) {

  .get-div {
    flex-direction: column;
  }

  .na {
    margin-left: 0;
  }

  .pur-mobile {
    display: none;
  }

  .get {
    text-align: center;
    width: 100% !important;
  }

  .mobile{
    display: none;
  }
  .participate {
    width: 100% !important;
  }

  .span {
    margin-top: 0;
    margin-left: 25%;
  }

  .bulb-div {
    left: 190px;
  }

  .bulb {
    top: -34px;
    left: 270px;
  }

  .man {
    width: 100%;
  }

  .man img {
    width: 100% !important;
  }

  .blue-div {
    top: -355px;
    left: -10px;
  }

  .blue {
    top: -300px;
    left: -5px;
  }

  .blue img {
    width: 50% !important;
  }

  .chain-fire{
    left: 265px;
  }

  .big-star{
    flex-direction: column;
  }

  .big{
    width: 100%;
    margin-left: 15%;  
  }

  .star{
    width: 100%;
  }

  .intro{
    text-align: center;
  }

  .intro h4{
    width: 100%;
    margin-bottom: 0;
  }

  .pu-div{
    left: 280px;
  }

  .pu{
    left: 350px;
    top: -10px;
  }

  .idea{
    left: 120px;
  }

  .idea-mobile{
    display: none;
  }

  .rules-div{
    flex-direction: column-reverse;
  }

  .woman{
    width: 100%!important;
  }

  .rules{
    width: 100%!important;
    text-align: center;
    margin-top: 0;
  }

  .rules h4{
    width: 100%;
  }

  .rules p{
    width: 100%;
  }

  .man-woman{
    width: 100%!important;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    margin-right: 0;
  }

  .manwo, .man-woman-img img{
    width: 100%;
  }

  .judging{
    margin-top: 80%;
    width: 100%;
    text-align: start;
    padding: 0 80px;
  }

  .judging h4{
    width: 100%;
  }

  .in-div{
    width: 100%;
  }

  .faq-think {
    flex-direction: column;
  }

  .faq {
    width: 100%;
  }

  .we {
    width: 100%;
  }

  .mobile2 {
    display: none!important;
  }

  .we p {
    width: 100%;
  }

  .think {
    margin-top: 25%;
  }

  .think,
  .img img {
    width: 100%;
  }

  .question1 {
    left: 30%;
    top: -30px;
  }

  .question2 {
    left: 57%;
    top: -47px;
  }

  .question3 {
    left: 70px;
    top: -33px;
  }

  .time h4{
    margin-bottom: 0;
  }

  .announce-div{
    display: none!important;
  }
  
  .announce-div-mobile{
    display: flex;
    gap: 30px;
  }

  .date{
    margin-top: -4px;
  }

  .date h5{
    color: #d434fe;
  }

  .date p{
    color: white;
  }

  .novm{
    margin-left: 5px;
  }

  .longer{
    margin-bottom: 5%;
  }

  .whom{
    width: 80%;
    margin-bottom: 10px;
  }

  .one p{
    color: white;
    font-weight: 700;
    font-style: bold;
  }

  .announce-div-mobile{
    display: flex!important;
  }

  .prize{
    display: none;
  }

  .prize-div-mobile{
    justify-content: center;
    text-align: center;
    margin-top: 0!important;
    display: flex!important;
  }

  .prize-mobile{
    color: white;
  }

  .prize-mobile h4{ 
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 3%;
    font-family: Arial;      
  }

  .prize-mobile h4 span{
    color: #d434fe;
  }

  .cup-div{
    flex-direction: column;
  }

  .cup{
    margin-left: 0;
  }

  .cup img{
    width: 100%;
  }

  .position{
    margin-top: 25%;
  }

  .partners{
    margin-top: 65%;
  }

  .bor-div{
    padding: 0 50px;
  }

  .bor-div-mobile{
    display: none;
  }

  .bor{
    padding: 20px;
  }

  .logos1 img{
    width: 100%;
  }

  .logos1 :nth-child(1){
    margin-left: 3%;
  }

  .logos1 :nth-child(2){
    margin-left: 10px;
  }

  .logos1 :nth-child(3){
    margin-left: -35px;
  }

  .logos1 :nth-child(4){
    margin-left: -30px;
  }


  .logos1 :nth-child(5){
    margin-left: 0;
  }

  .line2 img{
    width: 30%;
  }

  .logos2 :nth-child(1) img{
    width: 270%;
  }

  .logos2 :nth-child(2) img{
    margin-left: 58px;
  }

  .logos2 :nth-child(3){  
    font-size: 45px;
    margin-top: 10px;
    margin-left: 0!important;
  }

  .logos2 :nth-child(3) p{
    margin-left: 0;
  }

  .logos2 :nth-child(4) img{
    width: 18%;
  }

  .logos2 :nth-child(4){
    margin-left: -27px;
  }

  .logos2 :nth-child(5){
    margin-left: -35px;
  }

  .plus2 :nth-child(1) {
    font-size: 35px;
    font-weight: 400;
    margin-top: 30px;
  }

  .plu {
    left: 30px;
  }

  .terms-div{
    flex-direction: column;
  }

  .check img {
    width: 10%;
    margin-top: 0;
  }

  .padlock{
    width: 100%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .padlock img{
    margin-top: 30%;
    margin-left: -5%;
  }

  .location {
    width: 80%;
    gap: 20px;
  }

  .follow-use{
    width: 100%;
  }

  .foot-mobile{
    display: none;
  }
}

@media (max-width: 500px) {

  .na {
    margin-left: 0;
  }

  .pur {
    display: none !important;
  }

  .pur-mobile {
    display: flex !important;
    justify-content: center;
  }

  .text h5 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    width: 100% !important;
  }

  .bo {
    width: 50%;
    left: 30%;
    top: -2px;
  }

  .bo img {
    width: 80%;
  }

  .get {
    margin-top: 0 !important;
  }

  .get h1 {
    display: none;
  }

  .mobile{
    display: block!important;
    font-size: 35px!important;
    width: 100%!important;
    line-height: 40px!important;
    margin-bottom: 30px!important;
    font-weight: 700!important;
    letter-spacing: 0!important;
  }

  .span2{
    margin-left: -20%;
    color: white;
  }

  .bulb-div{
    left: 15%;
  }

  .bulb{
    left: 56%;
    width: 45px;
  }

  .chain-fire-div{
    left: 60px;
    top: -19px;
  }

  .chain-fire{
    margin-left: 0;
    left: 218px;
    width: 25%;
  }

  .span{
    width: 100%;
    margin-left: 0;
  }

  .blue-div {
    top: -200px;
    left: -10px;
  }

  .blue {
    top: -165px;
    left: -5px;
  }

  .blue img {
    width: 45%!important;
  }

  hr{
    margin-top: 0;
  }

  .big-idea img{
    width: 100%;
    margin-left: -15%;
  }

  .gra-div{
    top: 12px;
    left: -15px;
  }

  .idea{
    display: none;
  }

  .arrow-div{
    left: 40px;
  }

  .arrow{
    left: 35px;
    top: 30px;
  }

  .star{
    margin-top: 30%;
  }

  .pu-div{
    left: 80px;
  }

  .pu{
    left: 250px;
    width: 30%;
  }

  .pu img{
    width: 30%;
  }

  .intro h4{
    font-size: 24px;
    display: none;
  }

  .rules h4{
    display: none;
  }

  .wo, .wo img{
    width: 100%!important;
  }

  .man-woman{
    width: 80%;
  }

  .judging {
    width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-top: 90%;
  }

  .judging h4{
    display: none;
  }

  .judging span{
    width: 5%!important;
  }

  .ellipse-div{
    display: none;
  }

  .ellipse{
    display: none;
  }

  .faq-think{
    flex-direction: column;
  }

  .faq{
    width: 100%;
  }

  .we{
    text-align: center;
    width: 100%;
  }

  .faq h4{
    display: none;
  }

  .mobile2{
    display: block!important;
    width: 100%!important;
  }

  .we p{
    width: 100%;
  }

  .think{
    margin-top: 35%;
  }

  .think, .img img{
    width: 100%;
  }

  .question1 {
    font-size: 75px;
    left: 26%;
    top: -30px;
  }

  .question2 {
    font-size: 50px;
    left: 57%;
    top: -47px;
  }

  .question3 {
    font-size: 50px;
    left: 20px;
    top: -35px;
  }

  .announce-div-mobile{
    padding: 0 20px;
  }

  .date p{
    width: 100%!important;
    line-height: 20px;
    margin-bottom: 0;
    font-size: 13.5px;
  }

  .date h5{
    font-size: 20px;
    margin-bottom: 0;
  }

  .time{
    padding: 0 15px;
  }

  .begins{
    margin-top: 30px!important;
  }

  .end{
    margin-top: 30px!important;
  }

  .end :nth-child(3){
    margin-top: 21px;
  } 

  .ann{
    margin-top: 20px!important;
  }

  .cup-div{
    width: 100%;
  }

  .prize-mobile{
    justify-content: center;
    align-items: center;
  }

  .prize-mobile h4{
    width: 50%;
    margin-left: 80px;
  }

  .position{
    width: 100%!important;
  }

  .back2 {
    width: 115px;
    height: 230px;
    left: 90px;
  }

  .gold{
    margin-top: 50px;
    left: 100px;
  }

  .gold img{
    width: 170%;
    margin-left: -30px;
  }

  .three2 {
    margin-top: 45px;
  }

  .three2 p {
    margin-bottom: 0;
  }

  .back{
    width: 115px;
    height: 180px;
  }

  .position{
    padding: 0 20px;
  }

  .silver img{
    width: 100%;
  }

  .three{
    margin-top: 40px;  
  }

 .three p{
    margin-bottom: 0;
  }

  .back3 {
    width: 115px;
    height: 180px;
    left: 205px;
  }

  .bronze img {
    width: 100%;
  }

  .bronze{
    left: 220px;
  }

  .three p {
    margin-bottom: 0;
  }

  .partners{
    margin-top: 71%;
  }

  .partners p{
    width: 100%;
    margin: 0;
  }

  .bor-div{
    display: none;
  }

  .bor-div-mobile{
    display: block;
    padding: 0 10px;
  }

  .bor-mobile{
    padding: 18px;
    border: 1px #D434FE solid;
    border-radius: 5px;
    margin-top: 20px;
  }

  .line2-mobile{
    justify-content: space-between;
    gap: 30px;
  }

  .pay p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Typo Hoop Demo";
  }

  .pay p span{
    color: #00A3FF;
    margin-left: 0;
  }

  .plus2-mobile p{
    font-size: 18px;
    font-weight: 400;
  }

  .plus2-mobile p span {
    color: #F00;
    margin-left: 0;
  }
  
  .plu-mobile {
    top: -20px;
    left: 55px;
    width: 100%;
  }
  
  .plu-mobile p {
    font-size: 5px;
    width: 100%;
  }

  .terms h4 {
    width: 100%;
    text-align: center;
  }

  .terms p{
    text-align: center;
  }

  .bor2{
    padding: 30px;
  }

  .bor2 p{
    width: 100%;
    line-height: 20px;
    font-size: 12px;
  }

  .bor2 h5{
    text-align: start;
    font-size: 15px;
    line-height: 30px;
  }

  .check p{
    text-align: start;
  }

  .check img{
    margin-top: -20px;
  }

  .padlock{
    margin-left: 0;
    background-position: center;
    background-size: 100%;
    margin-top: -35%;
  }

  .padlock img{
    width: 100%;
    margin-top: 90%;
    margin-left: 0;
  }

  .foot-big{
    display: none;
  }

  .foot-mobile{
    display: block!important;
    padding-left: 20px;
    padding-top: 20px;
  }

  .foot{
    flex-direction: column;
  }

  .nb-div2{
    width: 100%;
  }

  .location{
    width: 50%;
    gap: 10px;
  }

}
